/* Global footer styles */
.footer {
    background-color: #183d58;
    border: 2px solid #fff;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  @import "~@fortawesome/fontawesome-free/css/all.css";

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .footer-logo h2 {
    font-size: 24px;
    color:rgba(0, 0, 0, 0.112);
    margin: 0;
  }
  
  .footer-links {
    display: flex;
    gap: 15px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color:  #00abF0;
  }
  
  .footer-social {
    display: flex;
    gap: 15px;
  }
  
  .footer-social a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .footer-social a:hover {
    color:  #00abF0;
  }
  
  .footer-bottom {
    margin-top: 15px;
    font-size: 14px;
    border-top: 1px solid white;
    padding-top: 10px;
    width: 100%;
  }
  