.header{
    border: 4px solid  black;
    display: flex;
}
.info{
    border: 2px solid blue;
    display: flex;
    margin-left: 200px;
    width: 50em;
}
.conecter{
    border: 2px solid black;
    display: flex;
    color: red;
}
.logo{
    height: 100px;
    width: 100px;
   
}
#logo-image{
    
    height: 100%;
    width: 100%;
   
}
a{
    text-decoration: none;
    margin: 10px;
    color: black;
    font-size: 20px;
    margin-top: 20px;
}

select{
    font-size: 25px;
    margin-left: 10px;
    color: red;
}